@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Arizonia');



@font-face{font-family:"Lato Black";src:
url("../fonts/lato_black/Lato-Black.eot?") format("eot"),
url("../fonts/lato_black/Lato-Black.woff") format("woff"),
url("../fonts/lato_black/Lato-Black.ttf") format("truetype"),
url("../fonts/lato_black/Lato-Black.svg#Lato-Black") format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'),
  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'futura__condensed';
  src: url('../fonts/futura_condensed-webfont.eot');
  src: url('../fonts/futura_condensed-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura_condensed-webfont.woff') format('woff'),
  url('../fonts/futura_condensed-webfont.ttf') format('truetype'),
  url('../fonts/futura_condensed-webfont.svg#futura__condensed') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family:"Lato Bold";
  src:url("../fonts/lato_bold/Lato-Bold.eot?") format("eot"),
  url("../fonts/lato_bold/Lato-Bold.woff") format("woff"),
  url("../fonts/lato_bold/Lato-Bold.ttf") format("truetype"),
  url("../fonts/lato_bold/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
	font-family: 'Edwardian Script ITC';
	src: url('../fonts/EdwardianScriptITC/EdwardianScriptITC.eot');
	src: url('../fonts/EdwardianScriptITC/EdwardianScriptITC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/EdwardianScriptITC/EdwardianScriptITC.woff') format('woff'),
		url('../fonts/EdwardianScriptITC/EdwardianScriptITC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
