@charset "utf-8";
@import url('fonts.css');
/*
FONTS DISPONIVEIS

*/
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top8{margin-top:8px;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.top20{margin-top:20px !important;}
.top25{margin-top:25px !important;}
.top30{margin-top:30px !important;}
.top35{margin-top:35px !important;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px !important;}
.top50{margin-top:50px !important;}
.top55{margin-top:55px !important;}
.top60{margin-top:60px !important;}
.top65{margin-top:65px !important;}
.top70{margin-top:70px !important;}
.top75{margin-top:75px !important;}
.top80{margin-top:80px !important;}
.top85{margin-top:85px !important;}
.top90{margin-top:90px !important;}
.top100{margin-top:100px !important;}
.top105{margin-top:105px !important;}
.top115{margin-top:115px !important;}
.top120{margin-top:120px !important;}
.top125{margin-top:125px !important;}
.top130{margin-top:130px !important;}
.top145{margin-top:145px !important;}
.top150{margin-top:150px !important;}
.top160{margin-top:160px !important;}
.top170{margin-top:170px !important;}
.top180{margin-top:180px !important;}
.top200{margin-top:200px !important;}
.top220{margin-top:220px !important;}
.top265{margin-top:265px !important;}
.top195{margin-top:195px !important;}
.top205{margin-top:205px !important;}
.top210{margin-top:210px !important;}
.top235{margin-top:235px !important;}
.top255{margin-top:255px !important;}
.top285{margin-top:285px !important;}
.top290{margin-top:290px !important;}
.top350{margin-top:350px !important;}
.top380{margin-top:380px !important;}
.top395{margin-top:395px !important;}
.top450{margin-top:450px !important;}


.bottom5{margin-bottom:5px !important;}
.bottom10{margin-bottom:10px !important;}
.bottom15{margin-bottom:15px !important;}
.bottom20{margin-bottom:20px !important;}
.bottom25{margin-bottom:25px !important;}
.bottom30{margin-bottom:30px !important;}
.bottom35{margin-bottom:35px !important;}
.bottom40{margin-bottom:40px !important;}
.bottom45{margin-bottom:45px !important;}
.bottom50{margin-bottom:50px !important;}
.bottom55{margin-bottom:55px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom65{margin-bottom:65px !important;}
.bottom70{margin-bottom:70px !important;}
.bottom75{margin-bottom:75px !important;}
.bottom80{margin-bottom:80px !important;}
.bottom90{margin-bottom:90px !important;}
.bottom100{margin-bottom:100px !important;}
.bottom120{margin-bottom:120px !important;}
.bottom135{margin-bottom:135px !important;}
.bottom180{margin-bottom:180px !important;}
.bottom200{margin-bottom:200px !important;}
.bottom220{margin-bottom:220px !important;}
.bottom280{margin-bottom:280px !important;}

.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px !important;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}

.pt0{padding-top:0px !important;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pg10{padding: 10px !important;}
.pg20{padding: 20px !important;}

.container{width:1170px !important;}
.input100{width:100% !important;}

body{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #000;
}

h1{
	font-size: 20px;
	color: #000;
	font-weight: 400;
}



h1 span {
	font-size: 25px;
	font-weight: 700;
}

h2 {
	font-size: 20px;
	color: #FFF;
	font-weight: 700;
}

h2 span{
	font-size: 30px;
	color: #000;
}


h3{
	font-size: 22px;
	font-weight: 400;
	color: #fff;
}

h3 span{
	font-size: 17px;
}

h4 {
	font-size: 13px;
	color: #000;
}



h5 span {
	font-size: 22px;
	color: #000;
	font-family: "Lato Black";
}

h5 span{

}

h6{
	/*
	color: #fff;
	font-weight: 400;
	text-shadow:1px 2px 5px #0f0f0f;*/
}

h6 span{

}



p{
	font-size: 17px;
	color: #000;
	text-align:justify;
	font-weight: 300;
}

p span{

}

.slider_prod_geral span{
	position: absolute;
	z-index: 1;
	bottom: -19px;
}

.slider_prod_geral .flex-control-paging li a{
	width: 0;
	height: 0;
	background: #b19e9a;
}

.slider_prod_geral .flex-control-paging li a.flex-active,
.slider_prod_geral .flex-control-paging li a:hover {
	background: #643e36;
}

.slider_prod_geral .flex-control-nav li {
    margin: 0 3px;
    display: inline-block;
    zoom: 1;
}

.group4 title{
	color: #fff;
}

.slider_prod_geral .flexslider .slides img:hover{
	cursor: -webkit-zoom-in;
}


.slider_prod_geral .flexslider .slides img {
	height: 400px;
}

.slider_prod_geral .imagem_default img{
	height: 400px !important;
	width: 100%;
}


.desc_prod p{
	font-size: 25px;
	font-weight: 400;
}



.topo-site {
	position: absolute;
	top: 0px;
	z-index: 100;
	width: 100%;
}

.btn{
	border-radius: 0;
}


.lato_bold{
	font-family:"Lato Bold";}


	.lato_black{
		font-family:"Lato Black";
	}

	a:hover{
		text-decoration: none !important;
	}

	.media-left,
	.media-right,
	.media-body {
		vertical-align: middle !important;
	}

	.relativo{
		position: relative;
	}

	input,
	select,
	textarea{
		min-height: 42px;
		color:#000;
		border-radius: 0 !important;
		font-size: 20px;
		font-weight: 400;
	}


	::-webkit-input-placeholder {
		color      : #000;
		font-family: 'Lato', sans-serif;
		font-family: 400;
		font-size  : 13px;
	}

	:-moz-placeholder {
		color      : #000;
		font-family: 'Lato', sans-serif;
		font-family: 400;
		font-size  : 13px;
	}

	::-moz-placeholder {
		color      : #000;
		font-family: 'Lato', sans-serif;
		font-family: 400;
		font-size  : 13px;
	}

	:-ms-input-placeholder {
		color      : #000;
		font-family: 'Lato', sans-serif;
		font-family: 400;
		font-size  : 13px;
	}


	.padding0{
		padding: 0px !important;
	}



	/*==================================================
	* Effect 2
	* ===============================================*/
	.effect2
	{
		position: relative;
	}
	.effect2:before, .effect2:after
	{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:300px;
		background: #777;
		-webkit-box-shadow: 0 15px 10px #777;
		-moz-box-shadow: 0 15px 10px #777;
		box-shadow: 0 15px 10px #777;
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	.effect2:after
	{
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}



	/*==================================================
	* COLOBOX PERSONALIZADO GROUPO4
	* ===============================================*/
	#cboxContent {background: none !important;}
	#cboxMiddleLeft,#cboxMiddleRight,#cboxTopCenter,#cboxBottomLeft,#cboxTopLeft,#cboxTopRight,#cboxBottomCenter,#cboxBottomRight {width: 0 !important;background: none !important;}
	#cboxSlideshow {color: #fff !important;}
	#cboxPrevious{left: 28px!important;}
	#cboxNext{left: 56px!important;}
	#cboxCurrent{left: 90px !important;}
	#cboxClose{right: 28px !important;}
	#cboxSlideshow{right: 60px !important;}
#cboxTitle {color: #fff !important;font-size: 18px !important;margin-top: 10px !important;}
	/*==================================================
	* COLOBOX PERSONALIZADO GROUPO4
	* ===============================================*/

	/**
	============================================
	TOPO
	============================================
	*/


	.fundo_lojas .media .fa {
		font-size: 22px;
		font-weight: 400;
		color: #fff;
	}
	.drop_prod{
		width: 1170px !important;
		right: -287px;
		left: inherit;
		background: #643e36 url(../imgs/titulo_topo.png)top 33px center no-repeat;
	}


	.topo_meu_loja {
    width: 1170px !important;
    right: -196px;
    left: inherit;
    top: 97%;
    background: #643e36 url(../imgs/titulo_topo.png)top 33px center no-repeat;
}

	.fundo_lojas{
		background: #50322b;
	}
	.fundo_lojas_onde .media .fa {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

	.fundo_lojas h2{
		border-bottom: 1px solid #735b55;
		padding-bottom: 17px;
	}

	.fundo_lojas_onde{
		background: url(../imgs/bg_transparente.png);
	}

	.fundo_lojas_onde h2{
		border-bottom: 1px solid #fff;
		padding-bottom: 17px;
	}

	.fundo_lojas .media{
		padding-left: 10px;
		padding-right: 10px;
	}

	.fundo_lojas_onde .media{
		padding-left: 10px;
		padding-right: 10px;
	}

	.horario h3{
		font-weight: 700;
	}

	.btn_localizacao{
		background: #fff;
		font-weight: 700;
		color: #643e36;
		font-size: 17px;
		border-radius: 0;
	}

	.btn_localizacao:hover{
		background: #cca36f;
		color: #fff;

	}

	.bg_tv{
		background: url(../imgs/bg_tv.jpg) no-repeat;
		height: 471px;
	}

	.btn_saiba_tv{
		background: none;
		font-weight: 700;
		padding: 10px 20px;
		color: #000;
		font-size: 30px;
		border-radius: 0;
		border: 3px solid #000;
	}

	.btn_saiba_tv:hover{
		background: #cca36f;
		color: #fff;

	}

	.btn_produto{
		border-radius: 0;
		cursor: pointer;
		padding: 0;
	}


	.btn_topo{
		padding: 0;
		border-radius: 0;
		cursor: pointer;
	}

	.btn_topo_lojas{
		padding: 15px 16px;

		border-radius: 0;
		color: #fff;
		cursor: pointer;
		background: url(../imgs/fundo_transparente.png);
	}

	.btn_topo_lojas:focus,
	.btn_topo_lojas.active,
	.btn_topo_lojas:visited{
		padding: 12px 10px;
		border-radius: 0;
		color: #000;
		cursor: pointer;
		background: url(../imgs/fundo_transparente.png);
	}



	.btn_carrinho{
		background: #fff !important;
		-webkit-appearance: inherit !important;
	}

	.btn_orcamento{
		background: #cca36f;
		color: #fff;
	}

	.btn_orcamento:hover{
		background: #643e36;
		color: #fff;
	}

	.menu .navbar-nav > li > a {
    padding: 3px 4px;
    margin-top: 12px;
    font-size: 20px;
    color: #000;
    font-weight: 400;
}


	.menu .nav>li>a:hover,
	.menu .nav>li>a:focus,
	.menu .nav li a.active {
		background: none;
		border-radius: 5px;
		font-weight: 700;

		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
		color: #000;
	}


	.topo-meu-cat{
		background:#354066 /*url(../imgs/sombra_cat.png) bottom center no-repeat*/;
		width:271px !important;
		border-radius: 0;
		padding:15px;
		margin: 0;
	}



	.topo-meu-cat .list-group-item {
		text-decoration: none;
		background: none;
		border: inherit;
	}

	.topo-meu-cat .list-group-item:hover,
	.topo-meu-cat a.list-group-item:focus,
	.topo-meu-cat a.list-group-item.active {
		background-color: #3c4a73;
		color: #3c3834;
	}


	.topo-meu-orcamento{
		background:#fff;
		width:470px !important;
		margin-left: -173px;
		padding:15px;
	}


	.lista-itens-carrinho{
		margin: 10px 0px;
		overflow: hidden;
		border-bottom: 2px solid #e5e5e5;
		margin-bottom: 20px;
	}


	.lista-itens-carrinho h1{
		font-size: 16px !important;
		margin: inherit;
	}




	.bootstrap-select>.dropdown-toggle,
	.bootstrap-select>.dropdown-toggle:hover,
	.bootstrap-select>.dropdown-toggle.active,
	.bootstrap-select>.dropdown-toggle:focus {
		height: 45px;
		border: 1px solid #c8c8c8;
		border-radius: 0px;
		font-weight: 700;
		color: #000;
		font-size: 15px;
		background: none;
		width: 198px !important;
	}



	.bootstrap-select .dropdown-toggle:focus {
		outline: thin dotted #c8c8c8!important;
		outline: 1px auto -webkit-focus-ring-color!important;
		outline-offset: -2px;
	}



	/**
	============================================
	TOPO
	============================================
	*/
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	/* ------------------------------- BANNER  ------------------------------- */
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	#container_banner {
		width   :100%;
		height  :890px;
		margin  :0px auto;
		overflow:hidden;
		position: relative;
		margin-top: 0px;
		z-index: 1;
	}

	#content_slider {
		width      :1920px;
		position   :absolute;
		margin-left:-960px;
		top        :0px;
		left       :50%;
	}


	#content-slider-1 .rsContent{
		height: 100px;
		position: absolute;
		z-index: 1000;
		top: 100px;
	}

	#content-slider-1 .rsContent h1{
		font-size: 40px;
		color: #fff;
		font-family:"Lato Black";
		text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
	}

	#content-slider-1 .rsTabs {
		width: 0px;
		height: 0px;
		z-index: 9999;
		position: absolute;
		left: 396px;
		top: 460px;
		text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
	}

	#content-slider-1 .rsNavItem {
		background   : #fff;
		width        : 0px;
		opacity      : 0.4;
		height       : 25px;
		float        : left;
		margin-right : 10px;
		cursor       : pointer;
		border-radius: 50%;
		/*box-shadow: -2px 2px rgba(0,0,0,0.6);
		-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/



	}

	#content-slider-1 .rsNavSelected {
		opacity  : 1;
		background: #fff;
		/*box-shadow: -2px 2px rgba(0,0,0,0.6);
		-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/

	}


	/*arrow personalizados*/
	#container_banner .rsArrowLeft {
		display: block;
		width: 59px;
		height: 132px;
		background: url(../imgs/arrow_left.png) center no-repeat;
		z-index: 999;
		bottom: 340px;
		position: absolute;
		left: 375px;
	}

	#container_banner .rsArrowRight {
		display: block;
		width: 59px;
		height: 132px;
		background: url(../imgs/arrow_right.png) center no-repeat;
		z-index: 999;
		bottom: 340px;
		position: absolute;
		right:  381px;
	}
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	/* ------------------------------- BANNER  ---------------------------- */
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	/**/




	/**
	============================================
	rodape
	============================================
	*/

	.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}
	.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}



	.div_personalizada{
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	.rodape{
		background : #cca36f;
	}

	.rodape-preto{
		background :#643e36;
	}

	.rodape-preto h5{
		font-size  :20px;
		color      : #fff;
		font-weight: 300;
	}

	.endereco_rodape p{
		color: #000000;
		font-size    : 22px;
		font-weight: 700;
	}


	.telefone_rodape p{
		color: #000000;
		font-size    : 30px;
		font-weight: 700;
	}

	.telefone_topo p{
		font-size: 20px;
		font-weight: 700;
	}


	.menu_rodape li a {
		color        : #643e36;
		font-size    : 20px;
		font-weight  : 400;
		margin-bottom: 30px;
	}


	.icon-rodape {
		color: #000000;
	}

	.menu_rodape li:hover a,
	.menu_rodape li.active a{
		font-weight: 700;
		color: #643e36;
	}


	.menu_rodape {
		list-style : none;
		padding    : 0px;
	}



	.redes a {
		color: #643e36;
		font-size: 20px;
	}

	.redes a:hover{
		color: #4d2d24;
	}



	.unidades_rodape h2,
	.unidades_rodape h3,
	.unidades_rodape h3  span{
		color: #643e36;
	}

	.unidades_rodape h3,
	.unidades_rodape h3  span{
		font-size: 14px;
	}


	/**
	============================================
	rodape
	============================================
	*/

	/**
	============================================
	HOME
	============================================
	*/


	.stylish-input-group .input-group-addon{
		border:0;
		border-left:0px ;
		height:50px;background:#fff;
	}
	.stylish-input-group .form-control{
		font-size:17px;
		color:#000;
		height:50px;
		width: 268px;
		border-radius:0px;
		border:0;
		border-left:1px solid #dcdcdc ;
		background:#fff;
	}
	.stylish-input-group button{
		font-size:20px;
		border:0;
		background:#fff;
	}

	.btn_produtos_orcamento{
		color: #fff;
		background: #cca36f;
		font-weight: 700;
		font-size: 17px;
		padding: 6px 14px;
	}

	.produtos_home .thumbnail{
		border-radius: 0;
		padding: 0;
		margin: 0;
	}

	.produtos_home img:hover{
		opacity: .8;
	}


	.btn_saiba_mais{
		font-size: 14px;
		color: #000;
	}

	.btn_saiba_mais:hover{
		color: #cca36f;
	}

	.btn_todos_prod{
		font-size: 14px;
		color: #643e36;
		font-size: 19px;
		font-weight: 700;
		margin-bottom: 35px;
	}

	.btn_todos_prod:hover{
		color: #cca36f;
	}



	.lista_categorias .flexslider{
		background: #cca36f;
		padding-top: 17px;
		padding-bottom: 17px;
		border: 0px solid #ffffff

	}

	.lista_categorias .flexslider .slides img {
		width: 69px !important;
		height: 57px !important;
	}

	.lista_categorias .flexslider .slides li {
		opacity: .5;
		background: url(../imgs/barra_vertical.png)right center no-repeat;
	}

	.lista_categorias .flexslider .slides li:hover,
	.lista_categorias .flexslider .slides li.active {
		color: #fff;
		opacity: 1;
		background: url(../imgs/barra_vertical.png)right center no-repeat;
	}

	.lista_categorias .flex-control-paging li a {
		width: 0;/*retirando bolinhas slider*/
	}

	.bg_onde{
		background: url(../imgs/bg_onde_estamos.jpg) top center no-repeat;
		height: 499px;
		width: 100%;
	}

	.cardapio_home ul li a:hover{
		opacity: .8;
	}

	.empresa_home h1{
		font-size: 30px;
	}

	.empresa_home p{
		font-size: 20px;
		font-weight: 400;
	}

	/**
	============================================
	HOME
	============================================
	*/


	/**
	============================================
	EMPRESA
	============================================
	*/
	.empresa p{
		font-size: 25px;
		text-align: left;
	}

	.empresa h1{
		font-size: 30px;
	}

	.titulo_emp h2{
		font-size: 24px;
		color: #643e36;
		font-family: 'Lato', sans-serif;
		font-weight: 100;

	}



	.titulo_emp h1{
		font-size: 65px;
		color: #643e36;
		font-family:"Lato Black";
		line-height: 70px;

	}

	.titulo_emp h5{
		font-size: 82px;
		color: #643e36;
		font-family: 'Edwardian Script ITC';
		line-height: 70px;

	}


	.titulo_emp h3{
		font-size: 65px;
		color: #643e36;
		font-family:"Lato Black";
		line-height: 70px;

	}




	/**
	============================================
	EMPRESA
	============================================
	*/



	/**
	============================================
	SERVIÇOS
	============================================
	*/



	/**
	============================================
	SERVIÇOS
	============================================
	*/



	/**
	============================================
	FALE CONOSCO
	============================================
	*/
	.btn_formulario{
		border-radius: 0;
		font-size: 20px;
		color: #fff;
		padding: 15px 25px;
		background: #643e36;
	}

	.mapa h1{
		font-size: 30px;
	}

	.btn_topo_orcamento{
		border-radius: 0;
		font-size: 15px;
		color: #fff;
		padding: 5px 15px;
		background: #002953;
	}

	.btn_formulario:hover,.btn_topo_orcamento:hover{
		background: #643e36;
		color: #fff;
	}

	.fundo-form1 {
		background: none;
		border-top: 2px solid #643e36;
	}

	.fundo-form2 {
		background: #eaeaea;
		border: 0;
	}

	.fundo_formulario .form-control:focus{
		border-color: #414244;
	}

	.fundo_formulario .has-feedback .form-control {
		padding-left: 10px;
	}

	.form-inline .has-feedback .form-control-feedback {
		/*left: 0;*/
	}

	.telefone_contatos h2{
		color: #002953;
	}

	.fundo_formulario h3{
		font-size: 20px;
		color: #000;
	}

	.fundo_formulario blockquote{
		padding: 2px 10px;
		margin: 0 0 0 14px;
		font-size: 30px;
		font-weight: 700;
		border-left: 9px solid #93989c;
	}

	.fundo_formulario span{
		color: #643e36;
	}

	.mapa iframe{
		border: 10px solid #fff;
	}

	.telefone_contatos li a:hover{
		opacity: .9;
	}

	.menu_contatos li a.active{
		background: #002248;
		border-radius: 0;
	}

	.menu_contatos h4{
		color: #fff;
		font-size: 15px;
	}

	.menu_contatos h4 span{
		color: #fff;
		font-size: 22px;
	}

	.menu_contatos .nav-tabs>li >a{
		background-color: #643e36;
		opacity: .4;
	}

	.menu_contatos .nav-tabs>li.active>a,
	.menu_contatos .nav-tabs>li.active>a:focus,
	.menu_contatos .nav-tabs>li.active>a:hover {
		cursor: default;
		opacity: 1;
		background-color: #643e36;
		border: 0px solid #ddd;
		border-bottom-color: transparent;
	}

	.menu_contatos .nav-tabs>li {
		float: left;
		margin-bottom: 9px;
		width: 100%;
	}

	.fale h2,.fale h3,.fale h3 span{
		color: #000;
	}

	.fale h3{
		font-size: 15px;
		font-weight: 700;
	}

	.fale h3 span{
		font-size: 14px;
		font-weight: 400;
	}


	.loja h3,.loja h3 span{
		color: #000;
	}

	.loja h3{
		font-size: 25px;
		font-weight: 700;
	}

	.btn_fale_loja:hover{
		opacity: .8;
	}

	.loja h3 span{
		font-size: 20px;
		font-weight: 400;
	}

	.fale .table{
		margin: inherit;
		border: 0;
		border-bottom: 1px solid #cccccc;
	}

	.fale .table td{
		vertical-align: middle;
	}

	.bootstrap-select>.dropdown-toggle,
	.bootstrap-select>.dropdown-toggle:hover,
	.bootstrap-select>.dropdown-toggle.active,
	.bootstrap-select>.dropdown-toggle:focus {
		height: 45px;
		border-top: 2px solid #643e36;
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0px;
		font-weight: 400;
		color: #000;
		font-size: 15px;
		background: none;
		width: 100% !important;
	}

	.select_pick .open>.dropdown-toggle.btn-info {
		color: #fff;
		background-color: #e5b77c;
		border-color: #643e36;
	}

	.titulo_geral h1{
		font-size: 50px;
		color: #643e36;
	}

	.titulo_geral h2{
		font-size: 24px;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		color: #643e36

	}
	/**
	============================================
	FALE CONOSCO
	============================================
	*/



	/**
	============================================
	ORCAMENTOS
	============================================
	*/
	.tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
	.tabela_carrinho table{font-size:15px;color:#000;font-weight:400; height: 100px;}
	.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{font-size: 14px;vertical-align:middle;border-bottom:1px solid #444c69;padding:10px 5px;}
	.fa-times-circle::before{
		color:#643e36;
		text-shadow:-1px 2px 2px #000000;

	}
	.bg_cinza{
		background: #eaeaea;
		overflow: hidden;
	}


	.tabela_carrinho h3,.fundo_formulario h3{
		color: #000;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 20px;
	}


	.input-lista-prod-orcamentos {
		width: 40px;
		min-height: 36px !important;
		text-align: center;
		background: #643e36;
		color: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-size: 13px;
	}

	.carrinho_servcos{
		width: 46px;
		height: 32px	;
	}

	.borda .media{
		border-bottom: 1px solid #cccccc;
		padding-bottom: 14px;
		height: 79px;
		border-bottom: 1px solid #cccccc;
		padding-bottom: 14px;
		height: 79px;
	}

	.orcamento h5 span{
		font-size: 40px;
		font-weight: 400;
	}



	.borda_home .media{
		border-bottom: 1px solid #cccccc;
		padding-bottom: 14px;
		max-height: 128px;
		width: 428px;
		padding-bottom: 14px;
		max-height: 128px;
		width: 428px;
	}

	.img_home_lojas {
		width: 421px;
	}
	.img_home_lojas {
		width: 421px;
	}


	.select_orcamento .bootstrap-select>.dropdown-toggle,
	.select_orcamento .bootstrap-select>.dropdown-toggle:hover,
	.select_orcamento .bootstrap-select>.dropdown-toggle.active,
	.select_orcamento .bootstrap-select>.dropdown-toggle:focus {
		height: 45px;
		background: #eaeaea;
		border: 0;
		width: 100% !important;
	}

	.select_orcamento .open>.dropdown-toggle.btn-info {
		color: #fff;
		background-color: #e5b77c;
		border-color: #643e36;
	}

	/**
	============================================
	ORCAMENTOS
	============================================
	*/


	/**
	============================================
	SERVICO
	============================================
	*/

	.servico_Dentro P{
		font-size: 25px;
		font-weight: 700;
	}

	/**
	============================================
	SERVICO
	============================================
	*/


	.loja-aberta{
		width: 15px;
		height: 15px;
		float: left;
		border-radius: 50%;
		margin-left: 4px;
		margin-top: 6px;
		background: green;
	}

	.loja-fechada{
		width: 15px;
		height: 15px;
		float: left;
		border-radius: 50%;
		margin-left: 4px;
		margin-top: 6px;
		background: red;
	}


	.desc_prod_opcoes_compra .form-group{
		/*border: 1px solid #9b9ba0;*/
		padding: 5px;
	}

	.desc_prod_opcoes_compra h1{
		float: left;
		margin-right: 10px;
	}

	.desc_prod_opcoes_compra p{
		font-size: 14px !important;
		color: #90201D;
	}

	.desc_prod_opcoes_compra textarea{
		border: 1px solid #000;
	}



	.desc_prod_opcoes_compra .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
	.desc_prod_opcoes_compra .form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group{
		border: 1px solid #000;
		border-radius: 0px;
	}

	.form-pedido .pedido-observacao{
		background: rgb(248, 248, 248);
		padding: 0px 10px;
		margin-bottom: 10px;
	}


	.pedido-linha {
		border-bottom: 1px solid #000;
		overflow: hidden;
	}



	/**
	============================================
	carrinho
	============================================
	*/
	.statusCarrinho{
		height: 58px;
		background: #5f0605 url(../imgs/icon-carrinhoPedido.png) 37px no-repeat;
	}

	.statusCarrinho h3{
		margin-top: 21px;
		font-weight: 400;
		color: #fff;
	}

	.fa {
		margin-right: 8px;
	}

	.statusCarrinho h2 {
		height: 30px;
		padding-top: 7px;
		background: url(../imgs/icon-money.png) 11px no-repeat;
		margin-top: 17px;
		font-weight: 400;
		color: #fff;
		font-size: 17px;
	}

	.statusCarrinho img {
		margin-right: -15px;
	}

	.descricao-carrinho h1{
		margin-top: 15px;
		color: #000;
		font-size: 14px;
		font-weight: 400;
	}

	.descricao-itens h3{
		margin-top: 15px;
		color: #000;
		font-size: 14px;
		font-weight: 400;
	}

	.descricao-carrinho h2{
		color: #000;
		font-size: 11px;
		font-weight: 400;
	}

	.descricao-carrinho tr{
		color: #000;
		font-size: 17px;
		font-weight: 400;
	}

	.descricao-carrinho p{
		margin: 25px 0px 30px 0px;
		color: #000;
		font-size: 14px;
		font-weight: 400;
	}

	.descricao-carrinho img{
		text-align: center;
	}

	.descricao-carrinho tbody{
		background:#d38928;
	}

	.descricao-carrinho img+img{
		padding-top: 20px;
	}


	.descricao-carrinho h3{
		margin-top: 15px;
		color: #fff;
		font-size: 14px;
		font-weight: 400;
	}

	.slider-carrinho-dentro {
		margin-top: 15px;
	}

	.slider-carrinho-dentro h3{
		margin: -29px 0px 13px 0px;
	}


	.descricao-carrinho01 h5{
		margin-top: 34px;
		font-weight: 700;
		color: #d38928;
	}


	.descricao-carrinho01 tbody{
		background:#5f0605;
	}

	.descricao-carrinho01 label{
		margin-top: 11px;
		font-size: 17px;
		font-weight: 400;
		color: #fff;
	}

	.descricao-carrinho01 span{
		margin-top: 2px;
		font-size: 17px;
		font-weight: 400;
		color: #fff;
	}

	.descricao-carrinho01 img{
		margin-top: 17px;
		text-align: center;
	}

	.descricao-carrinho01 img+img{
		margin-top: 10px;
		text-align: center;
	}

	.descricao-carrinho01,.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
		margin-top: 6px;
	}

	.glyphicon-paperclip:before {
		margin-right: 7px;
	}

	.glyphicon-home:before {
		margin-right: 7px;
	}


	.form-pedido .pedido-observacao{
		background: rgb(248, 248, 248);
		padding: 0px 10px;
		margin-bottom: 10px;
	}

	.form-pedido h2{
		color: #000;
	}

	.btn-laranja{
		background: #D38928;
		color: #000;
		font-size: 17px;
	}



	.lista-pedido h4{
		line-height: 25px;
	}

	.lista-pedido h4 span{
		font-weight: 400;
		color: #000;
		font-size: 21px;
	}

	.lista-pedido .fundo-form1{
		border: 1px solid #000;
	}

	.lista-pedido .col-xs-4 {
		padding-top: 0px;
		/* padding-bottom: 15px; */
	}

	.btn-laranja1 {
		background: #D38928;
		color: #5F0605;
	}

	.formulario-fale h4 {
		padding-bottom: 10px;
		margin-bottom: 10px;
		background: url(../imgs/barra-meuPedido.png) bottom center no-repeat;
	}


	.lista-pedido h4 {
		font-weight: 700;
		color: #d38928;
		font-size: 40px;
	}

	.descricao-itens h4 {
		font-weight: 400;
		padding-bottom: 10px;
		background: url(../imgs/barra-enviarPedido.png) bottom no-repeat;
		font-size: 28px;
	}


	.cep-rodape {
		height: 43px;
		padding: 0px 10px;
		font-size: 25px;
	}


	.lista-pedido h2 {
		font-weight: 400;
		color: #000;
		font-size: 21px;
	}


	.descricao-itens1 {
		line-height: 50px;
	}


	.descricao-itens1, .radio input {
		margin-top: 15px;
	}

	.input-todas-bordas{
		border: 1px solid #000;
	}

	/**
	============================================
	carrinho
	============================================
	*/





	.flex-caption {
	  width: 100%;
	  padding: 2%;
	  left: 0;
	  bottom: 0;
	  color: #fff;
	  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	  font-size: 14px;
	  line-height: 18px;
      background: #000;
	}

	.ajuste .glyphicon-ok:before {
    margin-left:47px;
}

.topo-h3-lojas{
	font-size: 18px;
}