/* ============= RESET ============= */
* { margin: 0px; padding: 0px; font-size: 100%; border: none; outline: none;; font-weight: 400; box-sizing: border-box;}
/* ============= RESET ============= */


/* ============= FONTS ============= */
@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
}

@font-face {
  font-family: 'Edwardian Script ITC';
  src: url('../../fonts/EdwardianScriptITC/EdwardianScriptITC.eot');
  src: url('../../fonts/EdwardianScriptITC/EdwardianScriptITC.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/EdwardianScriptITC/EdwardianScriptITC.woff') format('woff'),
  url('../../fonts/EdwardianScriptITC/EdwardianScriptITC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




  body{font-family: 'Roboto Condensed', sans-serif;font-size: 16px;  font-weight: 400;}
  /* ============= FONTS ============= */

.pagina_produto{
  padding: 0 1.13rem;
}

  /* ============= COLUNAS ============= */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="col-"] {
    float: left;
    padding: 8px;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  /* ============= COLUNAS ============= */


  /* ============= OFFSET COLUNAS ============= */
  .col-offset-1{margin-left: 8.33%;}
  .col-offset-2{margin-left: 16.66%;}
  .col-offset-3{margin-left: 25%;}
  .col-offset-4{margin-left: 33.33%;}
  .col-offset-5{margin-left: 41.66%;}
  .col-offset-6{margin-left: 50%;}
  .col-offset-7{margin-left: 58.33%;}
  .col-offset-8{margin-left: 66.66%;}
  .col-offset-9{margin-left: 75%;}
  .col-offset-10{margin-left: 83.33%;}
  .col-offset-11{margin-left: 91.66%;}
  .col-offset-12{margin-left: 100%;}


  .input100{width: 100%;}
  .text-center{text-align: center;}
  .text-right{text-align: right;}
  .text-left{text-align: left;}
  .clearfix{clear: both;}
  .img-circle{border-radius: 50%;}
  .top5{margin-top: 5px;}
  .top10{margin-top: 10px;}
  .top15{margin-top: 15px;}
  .top20{margin-top: 20px;}
  .top25{margin-top: 25px;}
  .top35{margin-top: 35px;}
  .top40{margin-top: 40px;}
  .top45{margin-top: 45px;}
  .top50{margin-top: 50px;}
  .top60{margin-top: 60px;}
  .top80{margin-top: 80px;}
  .top135{margin-top: 135px;}



  .bottom50{margin-bottom: 50px;}
  .padding0{padding: 0px;}
  .pg10{padding: 10px;}
  .pg15{padding: 15px;}


  .pb15{padding-bottom:  15px;}
  .pt15{padding-top:   15px;}
  .pt20{padding-top:   20px;}


  .right5{margin-right: 5px;}
  .right10{margin-right: 10px;}

  .left5{margin-left: 5px;}
  .left10{margin-left: 10px;}

  .pr10{padding-right: 10px}

  .pl10{padding-left: 10px}

  .pull-left{float: left;}
  .pull-right{float: right;}

  .media, .media-body {overflow: hidden;zoom: 1;}
  .media {margin-top: 5px;}
  .media-body, .media-left, .media-right {display: table-cell;vertical-align: top;}
  .media-object {display: block;}
  .media-middle {vertical-align: middle;}
  .media-left, .media>.pull-left {padding-right: 10px;}
  img {vertical-align: middle;}

  input,textarea,select{font-family: 'Roboto Condensed', sans-serif;font-size: 16px;  font-weight: 700;}

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .btn-primary{
    background: #283239;
    color: #fff;
  }

  .btn{
    border-radius: 0;
  }

  .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }

  .thumbnail .caption {
    padding: 5px;
    color: #333;
  }

  .relativo{
    position: relative;
  }
  .form-control-feedback{
    position: absolute;
    color: #643e36;
    top: 1.13rem;
    left: 0.63rem /* 10/16 */;
  }


  h1{color: #000;font-size: 1.13rem;font-weight: 400;} /*16px*/
  h2{color: #643e36;font-size: 1.56rem;font-weight: 700;} /*17px*/
  h3{color: #000;font-size: 23px;font-weight: 400;margin: 0;}  /*px*/
  h4{color: #fff;font-size: .69rem;font-weight: 700;}  /*px*/
  h5{color: #000;font-size: 1.25rem;font-weight: 700;}  /*px*/
  h6{color: #643e36;font-size: 2.81rem;font-weight: 300;  font-family: 'Edwardian Script ITC';}  /*px*/




  p{font-size: 0.94rem;font-weight: 300;color: #000;text-align: justify;}
  a, a:visited{text-decoration: none;}

  .lightbox {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }





  /**
  ============================================
  			  carrinho
  ============================================
  */
    .lista-pedido .statusCarrinho{
   	height: 58px;
   	background: #5f0605 url(../imgs/icon-carrinhoPedido.png) 37px no-repeat;
  }

   .lista-pedido .statusCarrinho h3{
   	margin-top: 21px;
   	font-weight: 400;
  	color: #fff;
   }

   .lista-pedido .fa {
      margin-right: 8px;
  }

  .lista-pedido .statusCarrinho h2 {
      height: 30px;
      padding-top: 7px;
      background: url(../imgs/icon-money.png) 11px no-repeat;
      margin-top: 17px;
      font-weight: 400;
      color: #fff;
      font-size: 17px;
  }

  .lista-pedido .statusCarrinho img {
      margin-right: -15px;
  }

  .lista-pedido .descricao-carrinho h1{
  	margin-top: 15px;
  	color: #000;
  	font-size: 14px;
  	font-weight: 400;
  }

  .lista-pedido .descricao-itens h3{
  	margin-top: 15px;
  	color: #000;
  	font-size: 14px;
  	font-weight: 400;
  }

  .lista-pedido .descricao-carrinho h2{
  	color: #000;
  	font-size: 11px;
  	font-weight: 400;
  }

  .lista-pedido .descricao-carrinho tr{
  	color: #000;
  	font-size: 17px;
  	font-weight: 400;
  }

  .lista-pedido .descricao-carrinho p{
  	margin: 25px 0px 30px 0px;
  	color: #000;
  	font-size: 14px;
  	font-weight: 400;
  }

  .lista-pedido .descricao-carrinho img{
  	text-align: center;
  }

  .lista-pedido .descricao-carrinho tbody{
  	background:#d38928;
  }

  .lista-pedido .descricao-carrinho img+img{
  	padding-top: 20px;
  }


  .lista-pedido .descricao-carrinho h3{
  	margin-top: 15px;
  	color: #fff;
  	font-size: 14px;
  	font-weight: 400;
  }

  .lista-pedido .slider-carrinho-dentro {
  	margin-top: 15px;
  }

  .lista-pedido .slider-carrinho-dentro h3{
  	margin: -29px 0px 13px 0px;
  }


  .lista-pedido .descricao-carrinho01 h5{
  	margin-top: 34px;
  	font-weight: 700;
  	color: #d38928;
  }


  .lista-pedido .descricao-carrinho01 tbody{
  	background:#5f0605;
  }

  .lista-pedido .descricao-carrinho01 label{
  	margin-top: 11px;
  	font-size: 17px;
  	font-weight: 400;
  	color: #fff;
  }

  .lista-pedido .descricao-carrinho01 span{
  	margin-top: 2px;
  	font-size: 17px;
  	font-weight: 400;
  	color: #fff;
  }

  .lista-pedido .descricao-carrinho01 img{
  	margin-top: 17px;
  	text-align: center;
  }

  .lista-pedido .descricao-carrinho01 img+img{
  	margin-top: 10px;
  	text-align: center;
  }

  .descricao-carrinho01,.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
      margin-top: 6px;
  }

  .lista-pedido .glyphicon-paperclip:before {
      margin-right: 7px;
  }

  .lista-pedido .glyphicon-home:before {
      margin-right: 7px;
  }


  .lista-pedido .form-pedido .pedido-observacao{
      background: rgb(248, 248, 248);
      padding: 0px 10px;
      margin-bottom: 10px;
  }

  .lista-pedido .form-pedido h2{
  	color: #000;
  }

  .lista-pedido .btn-laranja{
  	background: #D38928;
      color: #000;
      font-size: 17px;
  }




  .lista-pedido .lista-pedido h4 span{
  	font-weight: 400;
  	color: #000;
  	font-size: 20px;
  }

  .lista-pedido .fundo-form1{
  	border: 1px solid #000;
  }

  .lista-pedido .col-xs-4 {
      padding-top: 0px;
      /* padding-bottom: 15px; */
  }

  .lista-pedido .btn-laranja1 {
      background: #D38928;
      color: #5F0605;
  }

  .lista-pedido .formulario-fale h4 {
      padding-bottom: 10px;
      margin-bottom: 10px;
      background: url(../imgs/barra-meuPedido.png) bottom center no-repeat;
  }


  .lista-pedido .lista-pedido h4 {
      font-weight: 700;
      color: #d38928;
      line-height: 25px;
      font-size: 20px;
  }

  .lista-pedido .descricao-itens h4 {
      font-weight: 400;
      padding-bottom: 10px;
      background: url(../imgs/barra-enviarPedido.png) bottom no-repeat;
  	font-size: 28px;
  }


  .lista-pedido .cep-rodape {
      height: 43px;
      padding: 0px 10px;
      font-size:16px;
  }


  .lista-pedido h2 {
      font-weight: 400;
      color: #000;
      font-size: 14px;
  }


.descricao-itens1 h1{
  font-size: 20px;
  margin: 0;
}

  .lista-pedido .descricao-itens1 {
      line-height: 50px;
  }


  .lista-pedido .descricao-itens1, .radio input {
      margin-top: 15px;
  }

  .lista-pedido .input-todas-bordas{
  	border: 1px solid #000;
  }

.descricao-itens p{
  font-size: 15px;
}

.bg_branco{
  background: #fff;
}
  /**
  ============================================
  			  carrinho
  ============================================
  */
