/* =============== EMPRESA =============== */

.localizacao-pagina {
  height: 11.47rem;
  padding-top: 2.6rem;
}

.localizacao-pagina h1{
  color: #000;
  font-size: 3.15714286rem;
  font-weight: 700;
}

.titulo_emp h2{
  font-size:1.13rem;
  color: #643e36;
  font-family: 'Lato', sans-serif;
  font-weight: 300;

}

.titulo_emp h1{
  font-size: 39px;
  color: #643e36;
  line-height: 3.13rem;
  font-weight: 300;

}

.desc-empresa P{
  font-size: 1.25rem;
  font-weight: 400;
}

.bg_onde{
  background: url(../imgs/bg_onde_estamos.jpg) top center no-repeat;
  height: 275px;
  width: 100%;
}

.btn_lojas{
  background: #fff;
  font-weight: 700;
  font-size: 1.38rem;
  color: #643e36;
  border-radius: 0;
}

.btn_fechar{
  background: #fff;
  font-weight: 700;
  font-size: 1.25rem /* 20/16 */;
  color: #643e36;
  border-radius: 0;
  top: 0;
  font-family: 'Edwardian Script ITC';
}

.carousel-preview button{
  margin-left: 1.13rem;
  margin-top: .94rem;
}
.carousel-preview amp-img{
  width:1.31rem;
  height: 1.31rem;
  border-radius: 3.13rem;
  background: none;
}

.empresa p{
  font-size: 1.25rem;
  font-weight:400;
}

.empresa h1{
  font-size: 1.81rem;
}




.input-form{height: 3.19rem; background: #eeeeee; border: 0.01rem solid #000; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.campo-textarea{padding-top: 10px;height: 7.81rem /* 125/16 */;}

.orcamento-input .input-form{ padding: 0.13rem 1.013rem;}

/* CONTATO */
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 0.21rem;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
/* CONTATO */




.btn_prod_solicitar_orcamento{background: #002953; color: #fff; display: block; width: 100%;}
.btn_prod_ligar{background: #b0001d; color: #fff; display: block; width: 100%;}


.input-lista-prod-orcamentos{color: #fff;background: #643e36; width: 1.88rem ; height: 1.88rem ; text-align: center;}

.tabela-orcamento tbody tr td {
  border-top:  0;
  border-bottom: 1px solid #002953;
  padding: 4px;
}

.fa-times-circle:before {
  color: #643e36}

  .tabela-orcamento tbody tr{
    border-bottom: 1px solid #002953;
  }


  .bg-index {
    background: url("./imgs/bg-index.jpg") top center no-repeat;
  }

  .font-index{
    margin-top: 0.27rem;
    position: relative;
    margin-bottom: 1.6rem;

  }




  .font-index h1{
    color: #643e36;
    text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
    font-size: .69rem /* 11/16 */;
    font-weight: 700;
    opacity: 1;
    text-align: center;
  }


  .font-index p{
    color: #643e36;
    text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
    font-size: .88rem;
    font-weight: 700;
    text-align: center;
  }



  .index-bg-icones {
    min-height: 52px;
    padding: 5px 5px;
    background: #fff;
    opacity: .6;
    border-radius: 10px;
    text-align: center;
  }

  .styled-select select {
    background: transparent;
    width: 100%;
    padding: 5px;
    color: #7f7e81;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
  }

  .styled-select {
    width: 100%;
    overflow: hidden;
    background: #eeeeee url(../imgs/icon_localizacao.png) top 0.63rem  left 0.38rem no-repeat;
    border: 1px solid #ccc;
    height: 3.19rem;
    border: 0.01rem solid #000;
    color: #000;
    padding: 0.69rem 1.38rem;
    margin-bottom: 0.5rem ;
    margin-top: 0.07rem;
  }

  .fundo_lojas_produto{
    background: #fff;
  }

  .fundo_lojas_produto .media-body{
    width: 100%;
  }

  .fundo_lojas_produto .media{
    padding: 0;
    width: 100%;
    margin-top: 2px;
    background: url(../imgs/fundo_lojas1.png);
  }

  .fundo_lojas_produto h2{
    font-size:16px;
    color: #000;
  }

  .fundo_lojas_produto h3{
    font-size: 15px;
    font-weight: 700;
  }

  .fundo_lojas{
    background: url(../imgs/fundo_lojas.png);
  }

  .fundo_lojas .media-body{
    width: 100%;
  }

  .loja .media-body{
    width: 100%;
  }

  .btn_telefone{
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    background: #643e36;
    padding: 2px 12px;
  }

  .btn_telefone1{
    padding: 0.5rem 3.69rem;
    font-weight: 700;
    font-size: 1.06rem;
    color: #fff;
    background: #643e36;
  }

  .fundo_lojas_onde{
    background: url(../imgs/bg_transparente.png);
  }

  .fundo_lojas_onde h2{
    border-bottom: 1px solid #fff;
    padding-bottom: 17px;
  }

  .fundo_lojas .media{
    padding-left: 10px;
    padding-right: 10px;
  }

  .fundo_lojas_onde .media{
    padding-left: 10px;
    padding-right: 10px;
  }

  .loja h3,.loja h3 span{
    color: #000;
  }

  .loja h3{
    font-size: 1.25rem;
    font-weight: 700;
  }

  .loja h3 span{
    font-size: 1.13rem;
    font-weight: 400;
  }

  .mapa h1{
    font-size: 1.88rem;
  }

  .btn_formulario_fale{
    font-weight: 700;
    font-size: 1.06rem;
    color: #fff;
    padding: 0.94rem 3.75rem;
    background: #643e36;

  }

  .telefone_contatos h2{
    color: #002953;
  }

  .fundo_formulario h3{
    font-size: 20px;
    color: #000;
  }

  .menu_contatos {
    background: #643e36;
    padding: 20px 10px;
    text-align: center;
  }

  .menu_trabalhe{
    background: #643e36;
    opacity: .5;
    cursor: pointer;
    border: 0px;
    padding: 20px 5px;
    text-align: center;
  }


  .menu_contatos .media,.menu_trabalhe .media{
    margin:  0;
  }

  .trabalhe_conosco .form-control-feedback{
    position: absolute;
    color: #643e36;
    top: 2.44rem;
    left: 0.63rem /* 10/16 */;
  }

  .curriculo input{
    padding-top: 0.88rem;
  }

  .produtos_home .thumbnail{
    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  .total-resultado-busca span{
    font-weight: 700;
  }

  .produtos_home .btn_saiba_mais{
    font-size: 15px;
    color: #5b5b5f;
    padding-left: 0;
  }

  .produtos_home .btn_produtos_orcamento{
    color: #fff;
    background: #cca36f;
    font-weight: 700;
    font-size: .69rem;
    width: 100%;
    padding: .75rem;
  }

  .desc_titulo{
    overflow: hidden;
    height: 47px;
  }

  .titulo_loja {
    background:  #fff;
    padding-bottom: 2px;
  }

  .titulo_loja .media{
  padding-left: 5px;
  float: right;
}

  .titulo_loja .media .fa {
    color: #000;
    font-size: 25px;
    font-weight: 400;
}

  .lista_categorias .flexslider{
    background: #cca36f;
    overflow: hidden;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 0px solid #ffffff

  }



  .lista_categorias .flexslider .slides li {
    opacity: .5;
    background: url(../imgs/barra_vertical.png)right center no-repeat;
  }

  .lista_categorias .flexslider .slides li:hover,
  .lista_categorias .flexslider .slides li.active {
    color: #fff;
    opacity: 1;
    list-style: none;
    background: url(../imgs/barra_vertical.png)right center no-repeat;
  }

  .lista_categorias .flex-control-paging li a {
    width: 0;/*retirando bolinhas slider*/
  }

  .decricao_produto p{
    font-size: 1.25rem;
    font-weight: 400;
  }

  .decricao_produto h1{
    font-size: 1.81rem;
    font-weight: 400;
  }

  .btn_telefone2{
    font-weight: 700;
    font-size: 8px;
    color: #fff;
    background: #643e36;
    padding: 16px .38rem;
  }

  .styled-select1 select {
    background: transparent;
    width: 100%;
    padding: 5px;
    color: #7f7e81;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
  }

  .styled-select1 {
    width: 100%;
    overflow: hidden;
    background: #eeeeee;
    border: 1px solid #ccc;
    height: 3.19rem;
    border: 0.01rem solid #000;
    color: #000;
    padding: 0.69rem .94rem;
    margin-bottom: 0.5rem ;
    margin-top: 0.07rem;
  }

  .menu_contatos .media-left{
    padding-right: 2px;
  }

  .desc_prod_opcoes_compra h1 {
    float: left;
    margin-right: 10px;
    font-size:20px;
    color: #000;
    font-weight: 400;
  }

  .desc_prod_opcoes_compra p {
    font-size: 14px;
    color: #90201D;
  }

  .btn-primary {
    font-size: 11px;
  }

  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
  }

  .produtos_home h1{
    color: #000;
    font-size: 1.13rem;
    font-weight: 400;
  }

  .bootstrap-select>.dropdown-toggle,
  .bootstrap-select>.dropdown-toggle:hover,
  .bootstrap-select>.dropdown-toggle.active,
  .bootstrap-select>.dropdown-toggle:focus {
    height: 45px;
    border-top: 2px solid #643e36;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0px;
    font-weight: 400;
    color: #000;
    font-size: 15px;
    background: #cecece;
    width: 100%;
  }

  .btn_produtos_orcamento {
    color: #fff;
    background: #cca36f;
    font-weight: 700;
    font-size: 17px;
    padding: 6px 14px;
}

.produtos_light .lightbox_produto,.rodape_pai .lightbox{
  background: rgba(0,0,0,0.8);
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  display:flow-root;
  align-items: center;
  justify-content: center;
}

.rodape_pai .scroll{
  overflow-y: scroll;
  z-index: 9999;
}

.pedido-linha {
    border-bottom: 1px solid #000;
    overflow: hidden;
}

.modal-pedido h1{
  font-size: 25px;
}


.fundo_lojas .media .fa{
    color: #000;
    font-size: 1.38rem;
    font-weight: 400;
}

.loja .media .fa{
    font-size: 1.25rem;
    font-weight: 700;
}
