.topo{ text-align: center;padding: 0px 0px 15px 0px;}
.rodape{background: #643e36; height: 40px; color: #fff; position: fixed; bottom: 0px;padding: 3px 0px 0px 0px; }
.rodape a{color: #fff; text-decoration: none; font-size: 16px;font-weight: 700;}
.separador-rodape{height: 3.13rem;}
.btn-topo{background: none; color: #643e36;}

.menu-mobile-principal{background: #643e36;}
.menu-mobile li{
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
}
.menu-mobile li a:visited, .menu-mobile li a{color: #643e36;font-size:16px;}
